/* Carousel */
.carousel-item{
    height: calc(100vh - 78px);
}

.shadow_img {
    position: relative;
    z-index: 99;
    width: 100%;
    height: calc(100vh - 68px);
    top: 0;
    left: 0;
    box-shadow: inset 0px 0px 100px 500px rgba(0, 0, 0, 0.5);
}